img{
    width:300px;
    height: 300px;
    position: relative;
    left: 40%;

}
h1{
    color: greenyellow;
    background-color: black;
    border: 20px solid yellow;
    border-radius: 20px;
    text-align: center;
    font-style:italic;
}
body{
    background-color: aqua;
}
